.planner{
    padding: 25px;
    text-align: center;
    .planing{
        margin: 20px 0;
        .plan{
            margin-bottom: 15px;
            .icon{
                img{
                    height: 70px;
                }
            }
            p{
                font-size: 12px;
            }
        }
    }
    @media (min-width:768px) {
        .planing{
            display: flex;
            justify-content: space-around;
            .plan{
                margin-bottom: 0px;
                p{
                    font-size: 12px;
                }
            }
        }
    }
}