.saveTheDate{
    .text{
        // width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px 25px;
        p,h2{
            max-width: 65%;
        }
        
    }
    .wrap{
        display: flex;
        height: 50vh;
        >div{
            flex: 0 0 50%;
            &.img{
                background-color: aliceblue;
                background-image: url("../img/venue.jpeg");
                background-position: center;
                background-size: cover;
                // img{
                //     width: 100%;
                // }
            }
            &.info{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0 10px;
                h2{
                    text-transform: uppercase;
                }
                .date{
                    font-size: 20px;
                }
            }
        }
    }
    @media (min-width:768px) {
        .wrap{
            height: 70vh;
            >div{
                flex: 0 0 50%;
                &.info{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 0 10px;
                    h2{
                        text-transform: uppercase;
                        font-size: 45px;
                    }
                    .date{
                        font-size: 20px;
                    }
                }
            }
        }   
    }
    
}